{{ partial "head.html" . }}

{{ "<!-- navigation -->" | safeHTML }}
<header class="shadow-bottom sticky-top bg-gray">
  <div class="container">
    {{ partial "navigation.html" . }}
  </div>
</header>
{{ "<!-- /navigation -->" | safeHTML }}
<!-- details page -->
<section style="padding-bottom: 48px;" class="single sec-membros fader-alternate">
	
	<div class="container pt-4 aboutUsContainer">
	  <!-- <div style="color: white;" class="p-5 bg-gray"> -->
		<a href="textos/"> 
		  <div class="dynamicThingy fader">
		  <h1>Textos</h1>
		  </div>
		</a>
	</div>
</section>
{{ partial "footer.html" . }}
