{{ partial "head.html" . }}

{{ "<!-- navigation -->" | safeHTML }}
<header class="shadow-bottom sticky-top bg-gray">
  <div class="container">
    {{ partial "navigation.html" . }}
  </div>
</header>
{{ "<!-- /navigation -->" | safeHTML }}

<div id="overlay"></div>
<canvas id="matrixCanvas"></canvas>
<script src="{{ "js/scriptmatrix.js" | relURL }}"></script>

<!-- details page -->
<section style="text-align: left;
/* equal to footer height */ " class="single sec-membros fader-alternate">

	<div style="background-color: 0xfff">
<!-- 	<h1 class="responsiveHeaderText" style="color:white; text-align: center; height: 200px;background-color: var(--primary-color);vertical-align: middle;text-align: center;vertical-align: middle;line-height: 200px;">Junta-te a nós</h1>
 -->	
	<!--padding 100px-->
	<div class="container pt-4" style="background-color: 0xfff">
		<!-- fix url -->
		<!-- <a href='{{ "recrutamento" | absURL }}' class="btn btn-primary"> Clica aqui se quiseres saltar já á ação </a> -->
		<div class="col-12 text-center">
			<h2 class="section-title">Recrutamento</h2>
		</div>		
		<div class="row justify-content-center">
			<div class="col-12 text-center">
				<p style="color:white; margin-bottom: 40px; font-size:20px">
					O nosso processo de recrutamento consiste numa série de tarefas que 
					terás de completar ao longo de um mês, algumas mais simples como resolver
					puzzles, outras mais complicadas como programar e mexer em eletrónica. 
					Durante este período, poderás participar em workshops para te ajudar, 
					ou falar com outros recrutas e membros do núcleo. Para além disso, teremos 
					eventos para promover team building, e algumas outras surpresas. 
					Se estás interessado, tenta o desafio!
				</p>
			</div>
		</div>
		
		<section class="section shadow fader">
		<!-- fix url -->
		<a href="https://forms.gle/ZHPToWjq5mDMpXqS6" class="btn btn-primary {{ if .Site.Params.recruitmentTime }} {{ else }} disabled {{ end }}" 
			style="text-align: center;vertical-align: middle;line-height: 40px;
				width: 100%;font-size: 30;"> 
				
			{{ if .Site.Params.recruitmentTime }} Inscreve-te Agora! {{ else }} Inscreve-te no proximo semestre! {{ end }}
		</a>	
		</section>
		
		<div style="padding-top:50px;" class="col-12 text-center">
			<h2 class="section-title">Depois do Recrutamento</h2>
		</div>		

	<div style="color:white; display: flex; 
	flex-wrap: wrap; flex-direction: row; justify-content: center; margin:auto;">
		<div style="background-color: var(--secondary-color); width: 250px; " class="dynamicThingy text-left helperCard">
			Terás uma reunião inicial que serve para debater ideias e para formar grupos,
			desenvolvendo a tua parte social e trabalho em equipa.

			<br>
			<div class="d-flex align-items-center justify-content-center">
				<i class="fas fa-users fa-3x pt-2"></i>
			</div>
		</div >
		<div style="background-color: var(--secondary-color); width: 250px" class="dynamicThingy text-left helperCard">
			Para além disso, todos os semestres são planeados vários workshops em
			várias áreas que consideramos importantes para desenvolver a tua cultura hacker.

			<br>
			<div class="d-flex align-items-center justify-content-center">
				<i class="fas fa-cogs fa-3x pt-2"></i>
			</div>
		</div>
		<div style="background-color: var(--secondary-color); width: 250px" class="dynamicThingy text-left helperCard">
			Para o caso de te sentires sozinho nesta jornada de fazer o teu
			projeto acontecer, não te preocupes! Temos uma equipa de HackExperts e uma inteira comunidade sempre disposta a ajudar!

			<br>
			<div class="d-flex align-items-center justify-content-center">
				<i class="fas fa-robot fa-3x pt-2"></i>
			</div>
		</div>
	</div>

	<!-- insert clipart here -->
		<!--
		<p style="text-align: justify;">Somos um grupo de alunos de várias áreas da engenharia, entusiasmados por conceber as nossas ideias e projectos, e transmitir os nossos conhecimentos!</p>
		<h4 style="text-align: justify;">O que é a HackerSchool?</h4>
		<p style="text-align: justify;">A HackerSchool é uma associação académica, fundada em 2012, que desenvolve actividades num ambiente multidisciplinar, de <em>learn-by-doing</em> e de aprendizagem entre pares, inspirado nos valores da cultura <a href="http://stallman.org/articles/on-hacking.html" title="What is Hacking?" target="_blank"><em>hacker</em></a>.</p>
		<p style="text-align: justify;">Aqui, independentemente da formação de base, aprende-se a criar novos produtos e serviços sobre tecnologias emergentes como a internet das coisas ou a web semântica, utilizando soluções de baixo custo assentes em <em>open electronics</em>, <em>open materials</em>, <em>open fabrication</em>, entre outros.</p>
		<h4 style="text-align: justify;">Como funciona?</h4>
		<p style="text-align: justify;">A HackerSchool funciona em ciclos semestrais com Workshops, HackDays e o maior evento do semestre, o LX Reactor.</p>
		<ul>
		<li style="text-align: justify;"><strong>HackDay</strong>: Um dia de convívio entre os participantes, no qual se concebem projectos temáticos de curta duração.</li>
		<li style="text-align: justify;"><strong>Workshop</strong>: Um evento em que é dada&nbsp;formação base acerca de um determinado tema, sendo dado acesso aos participantes ferramentas que podem utilizar para aplicarem os conhecimentos adquiridos na concretização das suas ideias.</li>
		</ul>
		<h4 style="text-align: justify;">Objectivos</h4>
		<p style="text-align: justify;">O objectivo prioritário da HackerSchool é criar um espaço de colaboração que estimule alunos apaixonados por tecnologia a realizar os seus projectos e, dessa forma, ajudá-los a encontrar a sua vocação e atingir o seu potencial máximo, tanto como indivíduos como empreendedores, através de uma interacção hands-on com tecnologia, engenharia e ciência.</p>
		<p style="text-align: justify;">Pretende-se ter uma geração de alunos com ideias novas e um modo diferente de pensar sobre o mundo, que criem produtos e soluções inovadoras.</p>
		<p style="text-align: justify;">Mais, a HackerSchool pretende afirmar-se como um centro de convergência multidisciplinar onde alunos e professores de cursos diferentes se juntam para experimentar e partilhar ideias diferentes mas complementares.</p>
		-->
	</div>
  </div>
</section>

{{ partial "footer.html" . }}
