{{ partial "head.html" . }}

{{ "<!-- navigation -->" | safeHTML }}
<header class="shadow-bottom sticky-top bg-gray">
    <div class="container">
        {{ partial "navigation.html" . }}
    </div>
</header>
{{ "<!-- /navigation -->" | safeHTML }}

<div id="overlay"></div>
<canvas id="matrixCanvas"></canvas>
<script src="{{ "js/scriptmatrix.js" | relURL }}"></script>

<!-- details page -->
<section style="padding-bottom: 48px;" class="single sec-membros fader-alternate">
    <!--   <h1 class="responsiveHeaderText" style="color:white; text-align: center;height: 200px;background-color: var(--primary-color);vertical-align: middle;text-align: center;vertical-align: middle;line-height: 200px;">Sobre nós</h1> 
-->  
    <div class="container pt-4 aboutUsContainer">
        <!-- <div style="color: white;" class="p-5 bg-gray"> -->

        <div class="dynamicThingy fader">
            <h4>Quem somos?</h4>
            <p style="color: white;">
                Somos um núcleo de alunos do Instituto Superior Técnico com uma enorme vontade de aprender em equipa e conceber ideias novas das mais variadas áreas onde a tecnologia se insere.
            </p>
        </div>

        <div class="dynamicThingy fader">
            <h4>O que é a HackerSchool?</h4>
            <p style="color: white;">
                A HackerSchool é uma associação académica que se foca no desenvolvimento de actividades num ambiente multidisciplinar, de learn-by-doing e de aprendizagem entre pares, inspirado nos valores da cultura hacker. 
            </p>
            <br>
            <p style="color: white;">
                Aqui, independentemente da formação de base, aprende-se a criar novos produtos e serviços sobre tecnologias emergentes como a internet das coisas ou a web semântica, utilizando soluções de baixo custo assentes em open electronics, open materials, open fabrication, entre outros. 
            </p>
        </div>

        <div class="dynamicThingy fader">
            <h4>Eventos</h4>




            <p style="color: white;">

                A HackerSchool funciona em ciclos semestrais com Workshops, HackNights e sessões de TeamBuilding. Ao longo do ano podem juntar-se à programação Hackathons, Palestras, Feiras, entre outros eventos. Os membros da HackerSchool têm sempre entrada garantida e gratuita em qualquer evento realizado pelo núcleo!
            </p>
            <br>
            <ul>
                <li style="color: white;">
                    <strong>HackNight</strong>: Uma noite de convívio e jantar entre os membros da HackerSchool, aberta ao público, onde se discutem atividades e projetos que têm sido desenvolvidos, bem como planos futuros. Depois do jantar costuma haver espaço para conceção de projetos temáticos de curta duração.
                </li>
                <br>
                <li style="color: white;">
                    <strong>Workshop</strong>: Um evento em que é dada formação base acerca de um determinado tema, sendo dado acesso aos participantes ferramentas que podem utilizar para aplicarem os conhecimentos adquiridos na concretização das suas ideias. Este evento resulta sempre num protótipo final onde se aplicam os conhecimentos expostos.           <br> <strong class="sub"> WorkShops Internos </strong> - dados da comunidade do núcleo para o núcleo.
                    <br> <strong class="sub"> WorkShops Externos </strong> - dados para a toda a comunidade externa. 
                </li>
            </ul>
        </div>

        <div class="dynamicThingy fader">
            <h4>Objectivos</h4>
            <p style="color: white;">
                Enquanto núcleo do Técnico, a HackerSchool tem como objetivo fulcrar a criação de um espaço de colaboração que estimule e junte alunos apaixonados por tecnologia a realizar os seus projectos e, dessa forma, ajudá-los a encontrar a sua vocação e atingir o seu potencial máximo, tanto como indivíduos como empreendedores, através de uma interacção hands-on com tecnologia, engenharia e ciência. 
            </p>
            <br>
            <p style="color: white;">
                Pretende-se ter uma geração de alunos com novas ideias em mente, com uma forma diferente de pensar sobre os problemas do mundo, repercutindo-se na futura criação de produtos e concepção de soluções inovadoras. 
            </p>
            <br>
            <p style="color: white;">
                A HackerSchool também se pretende afirmar como um centro de convergência multidisciplinar onde alunos e professores de cursos diferentes se unem para experimentar e partilhar ideias inovadoras. 
            </p>
        </div>

        <!--         <a href="/sobre/textos">
<div class="dynamicThingy fader">
<h1>Textos</h1>
</div>
</a> -->

        <!-- </div> -->
    </div>
</section>

{{ partial "footer.html" . }}
