{{ partial "head.html" . }}

{{ "<!-- navigation -->" | safeHTML }}
<header class="shadow-bottom sticky-top bg-gray">
    <div class="container">
        {{ partial "navigation.html" . }}
    </div>
</header>
{{ "<!-- /navigation -->" | safeHTML }}
<!-- details page -->

<div id="overlay"></div>
<canvas id="matrixCanvas"></canvas>
<script src="{{ "js/scriptmatrix.js" | relURL }}"></script>

    <div class="container pt-6 aboutUsContainer">

        <div style="color: white">
        <!-- {{ .TableOfContents }} -->
            {{ $paragraphs := split .Content "<h2 " }}{{ range $index, $p := $paragraphs }}{{ $pp := trim $p " \n" }}{{ if (eq $index 0) }}{{ printf "%s\n" $pp | safeHTML }}{{ end }}{{ if and (ne $pp "") (gt $index 0) }}    <div class="dynamicThingy">
                {{ printf "<h2 %s\n" $pp | safeHTML }}
        </div>{{ end }}{{end}}
</div>
</div>

{{ partial "footer.html" . }}

