body {
    background-color: black;
}

.home-content-tab {
    display: flex;             /* Use Flexbox for layout */
    flex-wrap: wrap;           /* Allow items to wrap */
    gap: 10px;                 /* Space between items */
    /* align-items: center;       /* Center items vertically */ */
}


.home-content-tab-text {
    flex: 1;
    max-width: 100%;
}
.home-content-tab-text p {
    flex: 1;                   /* Allow the paragraph to take up available space */
    margin: 0;                 /* Remove default margin */
    text-wrap: 
}

.home-content-tab img {
    max-width: 100%;          /* Limit the image's max width */
    width: auto;               /* Make the image responsive */
    height: 100%;              /* Maintain aspect ratio */
    border-radius: 5%;        /* Optional: rounded corners for the image */
    object-fit: contain;       /* Ensure image fits nicely */
}

#type-js {  
    color: white;
    font-size: 18px;
    font-family: monospace;
    text-align:center;
    
    z-index: 3;
    position: relative;
    line-height: normal;
    /* top: 150px; */
    /* transition: all 2s; */
}

#hidden-content {
    display: none;
    align-items: center;
    text-align:center;
    color: white; 
    flex-direction: column;
    flex-wrap: wrap;
}

/* Terminal green text */
.terminal-green {
    color: #00ff00;
}

/* Fade-out and fade-in animation */
.fade-out {
    animation: fadeOut 1s forwards;
}

.fade-in {
    animation: fadeIn 1s forwards;
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
