{{ partial "head.html" . }}
<!--
<?php
$servername = "g02076_membros";
$username = "g02076_membros";
$password = "hackerschool";


echo "test"
// Create connection
$conn = new mysqli($servername, $username, $password);

// Check connection
if ($conn->connect_error) {
die("Connection failed: " . $conn->connect_error);
}
echo "Connected successfully";
?>
-->
{{ "<!-- navigation -->" | safeHTML }}
<header class="shadow-bottom sticky-top bg-gray">
    <div class="container">
        {{ partial "navigation.html" . }}
    </div>
</header>
{{ "<!-- /navigation -->" | safeHTML }}

{{ "<!-- header -->" | safeHTML }}


<link rel="stylesheet" href="{{ "css/matrixstyles.css" | relURL }}">

<div id="overlay">
    <p id="type-js"></p> 
</div>

<canvas id="matrixCanvas"></canvas>
<script src="{{ "js/scripttext.js" | relURL }}"></script>
<script src="{{ "js/scriptmatrix.js" | relURL }}"></script>


{{ "<!-- contactos -->" | safeHTML }}
<!-- <section class="section fs-large sec-projetos">
<div class="container">
<div class="row justify-content-center">
<div class="col-12 text-center">
<h2 class="section-title">Contacta-nos</h2>
<p style="color:white;">Envia-nos um email para: hackerschool@tecnico.ulisboa.pt</p>
</div>
</div>
</div>
</section> -->
{{ "<!-- /contactos -->" | safeHTML }}

<!-- {{ partial "footer.html" . }} -->
