{{ partial "head.html" . }}

{{ "<!-- navigation -->" | safeHTML }}
<header class="shadow-bottom sticky-top bg-gray">
  <div class="container">
    {{ partial "navigation.html" . }}
  </div>
</header>
{{ "<!-- /navigation -->" | safeHTML }}

{{ "<!-- header -->" | safeHTML }}
<div class="col-md-12 nopadding">
	<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
		<ol class="carousel-indicators">
		<li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
		{{ range $index, $element := after 1 .Site.Params.carouselImagens }}
		<li data-target="#carouselExampleIndicators" data-slide-to="{{ add $index 1 }}"></li>
		{{ end }}
		</ol>
		<div class="carousel-inner carousel-inner-home">
		{{ with (index $.Site.Params.carouselImagens 0) }}
		<div class="carousel-item active">
			<img class="d-block w-100" src="{{ . | absURL }}" alt="First slide">
		</div>
		{{ end }}
		{{ range after 1 .Site.Params.carouselImagens }}
		<div class="carousel-item">
			<img class="d-block w-100" src="{{ . | absURL }}">
		</div>
		{{ end }}
		</div>
		
	</div>
	<div style="position: absolute; top:0px; width:100%; height:100%;">
			<a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
				<span class="carousel-control-prev-icon" aria-hidden="true"></span>
				<span class="sr-only">Previous</span>
			</a>
			<a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
				<span class="carousel-control-next-icon" aria-hidden="true"></span>
				<span class="sr-only">Next</span>
      </a>
      
		<div style="position: absolute; top:25%; height: 75%; width:100%; text-align: center;">
			{{ with .Site.Params.banner.title }} <h2 id="bannerTitle" class="disapearWhenSmall text-white mb-3">{{ . }}</h2> {{ end }}
      {{ with .Site.Params.banner.description | safeHTML }} <p class="disapearWhenSmall text-white mb-4">{{ . }}</p> {{ end }}
      <br>
      <div style="position: absolute; bottom: 20%; width:100%; ">
        <!-- 
          <a href='{{ "recrutamento" | absURL }}' class="btn btn-primary">Recrutamento 2020/2021 </a>
        -->
      </div>
    </div>
	</div>
</div>
{{ "<!-- /header -->" | safeHTML }}
{{ "<!-- sobre -->" | safeHTML }}
<section class="section sec-projetos fs-large">
  <div class="container">
      <div class="row justify-content-center">
          <div class="col-12 text-center">
            <h1 class="section-title">A HackerSchool</h1>
            <p style="color:white;">A HackerSchool é uma associação académica, fundada em 2012, que desenvolve actividades num ambiente multidisciplinar, de learn-by-doing e de aprendizagem entre pares, inspirado nos valores da cultura hacker.
              <br>Aqui, independentemente da formação de base, aprende-se a criar novos produtos e serviços sobre tecnologias emergentes como a internet das coisas ou a web semântica, utilizando soluções de baixo custo assentes em open electronics, open materials, open fabrication, entre outros.
            </p>
          </div>
      </div>
  </div>
</section>
{{ "<!-- /sobre -->" | safeHTML }}

{{ "<!-- projetos -->" | safeHTML }}
<section class="section sec-about shadow">
  <div class="container">
      <div class="row justify-content-center">
          <div class="col-12 text-center">
            <h2 class="section-title">Projetos</h2>
          </div>
          {{ range where .Pages "Type" "projetos" }}
          {{ range .Pages}}          
          {{ if .Params.destacado }}
          {{ "<!-- projeto -->" | safeHTML }}
          <div class="col-lg-6 col-sm-6 mb-4">
              <div class="px-4 py-2 bg-gray dynamicThingy text-center d-block">
                <i class="{{ .Params.Icon }} icon text-dark d-block mb-4"></i>
                <h3 class="mb-3">{{ .Title }}</h3>
                <div class="projeto-foto"><img src="{{ .Params.Photo | absURL }}" /></div>
                <p style="color:white;" class="mb-0">{{ .Description }}</p>
              </div>
            </div>
          {{ "<!-- /projeto -->" | safeHTML }}
          {{ end }}
          {{ end }}
          {{ end }}
      </div>
      <div style="text-align: center;">
        <a href='{{ "projetos" | absURL }}' class="btn btn-primary">Vê mais projetos</a>
      </div>
      <br>
  </div>
</section>
{{ "<!-- /projetos -->" | safeHTML }}

{{ "<!-- membros -->" | safeHTML }}
<!--
  <section class="section sec-membros">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 text-center">
              <h2 class="section-title">Membros</h2>
            </div>
            {{ "<!-- membro --><!--" | safeHTML }}
            {{ range .Site.Data.membros.membro }}
            <div class="col-lg-3 col-sm-6 col-6 mb-4">
              <a href="{{ .Permalink }}" class="px-4 bg-white shadow text-center d-block">
                <h3 class="mb-3" style="padding-top: 15px;">{{ .nome }}</h3>
                <p class="mb-0">{{ .cargo }}</p>
                <img src="person-icon.png">
              </a>
            </div>
            {{ end }}
        </div>
    </div>
  </section>
{{ "<!-- /membros --><!--" | safeHTML }}-->

{{ "<!-- contactos -->" | safeHTML }}
<section class="section fs-large sec-projetos">
  <div class="container">
      <div class="row justify-content-center">
          <div class="col-12 text-center">
            <h2 class="section-title">Contacta-nos</h2>
            <p style="color:white;">Envia-nos um email para: hackerschool@tecnico.ulisboa.pt</p>
          </div>
      </div>
  </div>
</section>
{{ "<!-- /contactos -->" | safeHTML }}

{{ partial "footer.html" . }}