{{ partial "head.html" . }}

{{ "<!-- navigation -->" | safeHTML }}
<header class="shadow-bottom sticky-top bg-gray">
    <div class="container">
        {{ partial "navigation.html" . }}
    </div>
</header>

<link rel="stylesheet" href="{{ "css/matrixstyles.css" | relURL }}">
<div id="overlay"></div>
<canvas id="matrixCanvas"></canvas>
<script src="{{ "js/scriptmatrix.js" | relURL }}"></script>

<section id="home-content" style="padding-bottom: 48px;" class="single fader-alternate">
    <div class="container pt-4 aboutUsContainer">
        <div class="dynamicThingy" style="color: white">
            <p><a href="{{ .RelPermalink }}feed.xml">
                <img src="/rss.svg" alt="Feed RSS" style="width: 2em !important">
                </a></p>
            
            {{ .Content}}
        </div>
    </div>
    {{ range .Pages }}   <!-- Loop through each workshop page -->
    <div class="container pt-4 aboutUsContainer">
        <div class="dynamicThingy">
            <h2>{{ .Title }}</h2>
            <div class="home-content-tab">
                <div class="home-content-tab-text">
                    <p style="color: white">
                        {{ .Params.description }}  <!-- Display the workshop description -->
                        <a href="{{ .RelPermalink }}" class="btn btn-primary"  
                            style="text-align: center; vertical-align: middle; line-height: 40px;  
                            width: 80%; font-size: 20px; margin: 30px; display: inline-block;">
                            Saber mais
                        </a>

                    </p>
                </div>
                <img src="{{ .Params.image }}" alt="{{ .Title }}">  <!-- Display the workshop image -->
            </div>
        </div>
    </div>

    {{ end }}
</section>

{{ partial "footer.html" . }}

